@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


*{
    
        scroll-behavior: smooth;
       
}

.container{
    max-width: 1600px;
    display: flex;
    text-align: center;
    width: 80%;
    align-items: center; 
    flex-direction: column;
    justify-content: center;

margin:auto;
   
}
.container h1{
    margin-left: auto;
    margin-right: auto;
    color:aliceblue;
}

.Aboutsection{
display: flex;
   flex-direction: row;
   align-items: center; 
background-color: gray;
margin-bottom: 25px;
margin-top: 25px;
border-radius: 15px;
width: 90%;
justify-content: center;
}



.Aboutsection img{
    padding: 10px;
    
}



.frontimage{
    height: 1200px;
    background-repeat: no-repeat;
transform-origin: center center;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
}


.button {
 background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
   font-size: 2.4rem;
   font-family: 'Hina Mincho', serif;
 }

 .button:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }


