

.container {
    min-height: 100%;
    margin: auto;
  width: 100%;

  
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.footer_col ul{
    list-style:none;

}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    bottom: 0;
    margin-bottom: 0px;
    position:relative;    
    width:100%;

}

.footer_col{
    width:20%;
    padding:0 15px;
    padding-left:50px;
}

.footer_col h4{
    font-size:2rem;
    color:#ffffff;
    text-transform:capitalize;
    margin-bottom:30px;
    font-weight:500;
    position:relative;
}

    .footer_col h4 ::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer_col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer_col ul li a{
        font-size:1rem;
        text-transform:capitalize;
        color: #ffffff;
        text-decoration:none;
        font-weight:300;
        color:#bbbbbb;
        display:block;
        transition:all 0.3s ease;
    }

        .footer_col ul li a:hover {
            color: #ffffff;
            padding-left: 10px;
        }

    .footer_col .social_links a{
        display:inline-block;
        height:40px;
        width:40px;
        background-color:rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align:center;
        line-height:40px;
        border-radius:50%;
        color:#ffffff;
        transition:all 0.5s ease;
       
    }

        .footer_col .social_links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

