

.header{
    font-family: 'Titillium Web', sans-serif;
  width: 100%;
  max-height: 200px;
}



.nav{
  max-height: 100px;
    margin-left: 50px;
    justify-content: center;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex: auto ;
}


.nav a,ul{
    font-size:1.5rem;
    flex:2;
    display:flex;
}
.menu {
    flex: 1.5;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  
  
}
.menu li {
    text-align: center;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    position: absolute;
    margin-top: 250px;
    margin-left:-200px;
    opacity: 0;
    visibility: hidden;
    border: 4px solid black;
    display: flex;
    flex:1;
    background-color:white;
}
.list li{
    flex:1;
    padding-left:50px;
    
}
.nav img{
    max-height: 60px;
}
    .list li a {
        font-size: 1.3rem;
    }
.nav ul li:hover>ul{
    opacity:1;
    visibility:visible;

}
.nav a {
    color: black;
    text-decoration: none;
   
}

.nav li > a:hover{
    color:red;
}

.container {
    min-height: 100%;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}


