

.header{
    overflow: hidden;
    background-color: #ffffff;
   
    font-family: 'Titillium Web', sans-serif;
  width: 100%;
  margin-bottom: 80px;
}



.nav{
    position: relative;
    min-height:10vh;
    justify-content: center;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex: auto ;
}


.nav a,ul{
    font-size:1.5rem;
    flex:2;
    display:flex;
}
.menu {
    flex: 1.5;
    min-height: 160px;
 
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-height: 160px;
  
}
.menu li {
    text-align: center;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    position: absolute;
    margin-top: 320px;
    margin-left:-200px;
    opacity: 0;
    visibility: hidden;
    border: 4px solid black;
    display: flex;
    flex:1;
}
.list li{
    flex:1;
    padding-left:50px;
    
}
.list img{
    padding-top:-30px;
}
    .list li a {
        font-size: 1.3rem;
    }
.nav ul li:hover>ul{
    opacity:1;
    visibility:visible;
}
.nav a {
    color: black;
    text-decoration: none;
   
}

.nav li > a:hover{
    color:red;
}

.container {
    min-height: 100%;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}
