


.container {
    background-color: red;
    display: flex;
}

.whatToSell{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.form{
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.choose{
    display: flex;
    flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.block{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    
}

.block a{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}







